/* *************************** */
/* Top Level CSS               */
/* *************************** */

/*
restoreColumnAwidth = "35%";
restoreDraggerABsize = "5px";
restoreColumnBwidth = "45%";
restoreDraggerBCsize = "5px";
restoreColumnCwidth = "20%";
*/

/*
	--column-A-width: 100%;
	--dragger-AB-size: 0px;
	--column-B-width: 0%;
	--dragger-BC-size: 0px;
	--column-C-width: 0%;
*/

:root
{
	--body-margin: 4px;
	--grid-gap: 0px;

	--column-A-width: 35%;
	--dragger-AB-size: 5px;
	--column-B-width: 45%;
	--dragger-BC-size: 5px;
	--column-C-width: 20%;

	--column-A-col: 1;
	--dragger-AB-col: 2;
	--column-B-col: 3;
	--dragger-BC-col: 4;
	--column-C-col: 5;

	--dragger-ROW-size: 5px;
	--row-A-height: 60%;
	--row-B-height: 40%;	
}

.no-pointer-events
{
	pointer-events: none;
}

*{ font-family: Arial,sans-serif; }
*{box-sizing: border-box;}

.body-wrapper
{
	margin: var(--body-margin);
	/* try setting minimum width to 1000, but bev_resize.js uses viewport size */
	width: max(1000px, calc(100% - 12px));
	height: calc(100vh - 16px);
	background-color: lightgrey;
	overflow-x: scroll;
	overflow-y: hidden;
}

body.wait, body.wait *
{
	cursor: wait !important;
}

/* ********************************* */
/* **** Reusable CSS for Images **** */
/* ********************************* */

.displayPngDiv
{
	width:100%;
	overflow-y: auto;
}

.displayPngImg
{
	max-width:100%;
	width: auto;
	height: auto;	
}

.displayPngImgNoFit
{
	max-width: none;
}

/* ********************************************* */
/* **** Reusable CSS for Diagram Components **** */
/* ********************************************* */

/* 20px is height of control strip */
.plotAboveStrip
{
	height: calc(100% - 20px);
}

.columnDiv
{
	display: flex;
	flex-direction: column;
	align-items: stretch;
	width: 100%;
}

.controlStrip
{
	border: 1px solid gray;
	height: 20px;
	background-color: rgb(238,238,238);
	display: flex;
	flex-direction: row;
	align-items: center;
	color: #757575 !important;
	font-size: 11px;
}

/* ****************************** */
/* **** label and button CSS **** */
/* ****************************** */

.bev-control-button
{
	font-size: 11px;
	background-color: beige;
	color: black !important;
	border-radius: 4px;
	border-width: 1px;
	border-color: #757575;
	padding: 1px;
	margin: 1px;
	margin-top: 3px;
	margin-bottom: 3px;
	white-space: nowrap;
	cursor: pointer;
}

.bev-control-button:disabled
{
	background-color: lightgray;
	border-color: darkslategray;
}

.controlButton
{
	height: 18px;
	border: 1px solid rgb(238,238,238);
	font-size: 11px;
	vertical-align: bottom;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.controlButton:disabled
{
	background-color: lightgray;
	border-color: darkslategray;
}

.controlButton:active
{
	border: 1px solid rgb(48, 122, 187);
	background-color: rgb(156, 204, 251);
	cursor: pointer;
}

.controlButton:hover
{
	border: 1px solid rgb(117,157,192);
	background-color: rgb(171, 214, 255);
	cursor: pointer;
}

.controlButtonIcon
{
	vertical-align: middle !important;
	box-sizing: border-box !important;
	margin: 0 !important;
	padding: 0 !important;
	line-height: 10px !important;
	width: 10px !important;
	height: 10px !important;
	box-sizing: border-box !important;
	margin: 0 !important;
	padding: 0 !important;
}

.controlButtonLabel
{
	height: 15px;
	line-height: 15px;
	/* border: 1px solid rgb(238,238,238); */
	font-size: 11px;
	vertical-align: middle;
	box-sizing: border-box;
	margin: 0;
	/*  top, right, bottom, and left */
	padding: 0px 7px 0px 4px;
}

/* ****************************** */
/* **** label and select CSS **** */
/* ****************************** */

.controlSelect
{
	height: 18px;
	border: 1px solid rgb(238,238,238);
	font-size: 11px;
	vertical-align: middle;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	padding-left: 10px;
}

.controlSelectLabel
{
	height: 15px;
	line-height: 15px;
	font-size: 11px;
	vertical-align: top;
	margin: 0;
	padding: 0;
}

.controlSelectWidget
{
	height: 15px;
	line-height: 15px;
	font-size: 11px;
	vertical-align: top;
	margin: 0;
	padding: 0;
}

.controlSelectWidget select
{
	font-size: 11px;
	margin: 0;
	padding: 0;
}

/* ********************************* */
/* **** Wrapper Grid Definition **** */
/* ********************************* */

.div-wrapper
{
	width: inherit;
	height: inherit;
	display: grid;
	grid-gap: var(--grid-gap);
	grid-template-columns:
		calc(var(--column-A-width) - var(--dragger-AB-size))
		var(--dragger-AB-size)
		var(--column-B-width)
		var(--dragger-BC-size)
		var(--column-C-width);
	grid-template-rows: minmax(0, 1fr);
	max-height: calc(100% - 12px);
}

/*
		calc(var(--column-A-width) - var(--body-margin) - var(--grid-gap) - var(--dragger-AB-size))
		var(--dragger-AB-size)
		calc(var(--column-B-width) - var(--body-margin) - var(--grid-gap) - var(--grid-gap) - var(--body-margin) - var(--body-margin))
		var(--dragger-BC-size)
		calc(var(--column-C-width) - var(--body-margin) - var(--grid-gap) - var(--dragger-BC-size));
*/

.div-a-b-drag-bar
{
	cursor: ew-resize;
	grid-column: 2 / span 1;
	grid-row: 1 / span 2;
}

.div-a-b-drag-bar.hide-plotpicker
{
	display: none;
}

.div-b-c-drag-bar
{
	cursor: ew-resize;
	grid-column: 4 / span 1;
	grid-row: 1 / span 2;
}

/* ******************** */
/* **** Header Row **** */
/* ******************** */

/* internal wrapper for middle expanding title area in MDA header */
.bevServiceHeaderTitle
{
	flex: 1;
	color: #403333;
}

/*	white-space: nowrap; */

.bevTitleText
{
	display: inline-block;
	font-weight: normal;
	padding-top: 0px;
}

.mdaHeaderLinks
{
	/* reset mdaTitleText changes */
	font-size: 10px;
	padding: 0px;
	font-weight: normal;
	/* place this div */
	vertical-align: top;
	float: right;
	font-weight: normal;
	/* stack buttons */
	display: inline-flex;
	flex-direction: row;
	justify-content: flex-end;
	text-align: right;
}

.mdaHeaderButtons
{
	font-size: 10px;
	background-color: beige;
	color: black !important;
	border-radius: 4px;
	border-width: 1px;
	border-color: #757575;
	padding: 0px;
	padding-right: 1px;
	margin: 1px;
}

.mdaHeaderButtons:disabled
{
	background-color: lightgray;
	border-color: darkslategray;
}

/* *************************** */
/* MDA Table CSS               */
/* *************************** */

table.mdaCompactTable
{
	padding: 0px 0px 0px 0px !important;
	border: 2px solid white;
	border-collapse: collapse;
	width: 100%;
}

table.mdaCompactTable>thead>tr
{
	text-align: left;
	border: 1px solid black;
	color: black;
	height: 25px;
}

table.mdaCompactTable>thead>tr>th
{
	color: white;
	background: black;
}

table.mdaCompactTable>tbody>tr>td
{
	padding: 5px;
	text-align: left;
	color: black;
}

tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #FFF}

table.mdaCompactTable>thead>tr
{
	text-align: left;
	white-space: nowrap;
	color: black;
}

table.autoWidth
{
	width: auto;
}

/* ***************************** */
/* **** Plot Picker Column **** */
/* ***************************** */

.div-plot-picker
{
	grid-column: 1 / span 1;
	grid-row: 1 / span 2;
	display: flex;
	flex-direction: column;
	background-color: white;
	min-height: 97%;
}

.div-plot-picker.hide-plotpicker
{
	display: none;
}

.div-plot-picker-title
{
	border: 1px solid gray;
	background-image: linear-gradient(rgb(165,219,235), rgb(123, 191,214));
	height: 23px;
	display: inline-block;
	font-weight: bold;
	font-size: 12pt;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
}

.div-plotpicker-file
{
	border: 1px solid gray;
	border-top-style: none;
	overflow: auto;
}

.div-plot-picker-content
{
	flex: 1;
	border: 1px solid gray;
	border-top-style: none;
	overflow: auto;
}

.showDVButtons
{
	float: right;
}

.bevQfButton
{
	display: none;
	font-size: 11px;
	background-color: beige;
	color: black !important;
	border-radius: 4px;
	border-width: 1px;
	border-color: #757575;
	padding: 1px;
	margin: 1px;
	margin-top: 3px;
	margin-bottom: 3px;
}

.bevQfButton:disabled
{
	background-color: lightgray;
	border-color: darkslategray;
}

.bevQfButton.hide-plotpicker
{
	display: inline-block;
}

.bevLpButton
{
	display: none;
	font-size: 11px;
	background-color: beige;
	color: black !important;
	border-radius: 4px;
	border-width: 1px;
	border-color: #757575;
	padding: 1px;
	margin: 1px;
	margin-top: 3px;
	margin-bottom: 3px;
}

.bevLpButton.hide-legpane
{
	display: inline-block;
}

.plotPickerTabText
{
	padding: 1px 2px 1px 2px !important;
	font-family: Arial,sans-serif !important;
	font-size: 14px !important;
}

/* ******************************* */
/* **** Diagram Viewer Column **** */
/* ******************************* */

.div-diagram-viewer
{
	grid-column: 3 / span 1;
	grid-row: 1 / span 2;
	display: flex;
	flex-direction: column;
	background-color: white;
	min-height: 97%;
}

.div-diagram-viewer-title
{
	border: 1px solid gray;
	background-image: linear-gradient(rgb(165,219,235), rgb(123, 191,214));
	height: 23px;
	display: inline-block;
	font-weight: bold;
	font-size: 12pt;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.div-diagram-viewer-control
{
	border: 1px solid gray;
	background-color: rgb(238,238,238);
	display: flex;
	flex-direction: row;
	align-items: center;
	color: #757575;
	font-size: 8px;
}

.div-diagram-viewer-content
{
	flex: 1;
	border: 1px solid gray;
	border-top-style: none;
	overflow: auto;
	display: flex;
	flex-direction: row;
}

/* ******************************** */
/* **** Legend/Datapane Column **** */
/* ******************************** */

.div-legpane
{
	grid-column: 5 / span 1;
	display: grid;
	grid-gap: var(--grid-gap);
	grid-template-columns: 1fr;
	grid-template-rows:
		calc(var(--row-A-height) - var(--grid-gap) - var(--dragger-ROW-size))
		var(--dragger-ROW-size)
		var(--row-B-height);
	min-height: 97%;
}

/*
 		calc(var(--row-A-height) - var(--body-margin) - var(--grid-gap) - var(--dragger-ROW-size))
 		var(--dragger-ROW-size)
-		calc(var(--row-B-height) - var(--body-margin) - var(--grid-gap) - var(--grid-gap));
*/

.div-legpane.hide-legpane
{
	display: none;
}

.hide-visualizer
{
	display: none;
}


.div-legend
{
	grid-column: 1 / span 1;
	grid-row: 1 / span 1;
	display: flex;
	flex-direction: column;
	background-color: white;
	flex: 1;
	overflow: auto; /* required for chrome - not sure why content doesn't catch overflow */
}

.div-legend-title
{
	border: 1px solid gray;
	background-image: linear-gradient(rgb(165,219,235), rgb(123, 191,214));
	height: 23px;
	display: inline-block;
	font-weight: bold;
	font-size: 12pt;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
}

.div-legend-content
{
	flex: 1;
	border: 1px solid gray;
	border-top-style: none;
	overflow: auto;
}

.div-l-p-drag-bar
{
	cursor: ns-resize;
	grid-column: 1 / span 1;
	grid-row: 2 / span 1;
}

.div-datapane
{
	grid-column: 1 / span 1;
	grid-row: 3 / span 1;
	display: flex;
	flex-direction: column;
	background-color: white;
	flex: 1;
	overflow: auto; /* required for chrome - not sure why content doesn't catch overflow */
}

.div-datapane-title
{
	border: 1px solid gray;
	background-image: linear-gradient(rgb(165,219,235), rgb(123, 191,214));
	height: 23px;
	display: inline-block;
	font-weight: bold;
	font-size: 12pt;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
}

.div-datapane-control
{
	border: 1px solid gray;
	height: 20px;
	background-color: rgb(238,238,238);
	display: flex;
	flex-direction: row;
	align-items: center;
	color: #757575;
	font-size: 11px;
}

.div-datapane-content
{
	flex: 1;
	border: 1px solid gray;
	border-top-style: none;
	overflow: auto;
	font-size: smaller;
}

.color-box
{
	width: 10px !important;
	height: 10px !important;
	left: 40px !important;
	border: solid 1px !important;
	top: -4px !important;
}

/* *************************** */
/* CSS for Scatterplot Plot DIV        */
/* *************************** */

.ScatterplotPlottingDiv
{
	width: 100%;
	height: 100%;
	overflow: hidden;
}

/* *************************** */
/* CSS for DSC Plot DIV        */
/* *************************** */

.DscPlottingDiv
{
	width: 100%;
	height: 100%;
	overflow: hidden;
}

div.container
{
	width: 80%;
}

/* *************************** */
/* CSS for PCA Plot DIV        */
/* *************************** */

.PcaPlottingDiv
{
	width: 100%;
	height: 100%;
	overflow: hidden;
}

/* *************************** */
/* CSS for NGCHM         */
/* *************************** */

.ngchmHidden
{
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    height: 100px;
    width: 100px;
    visibility: hidden;
}

.ngchmVisible
{
    height: 100%;
    width: 100%;
    visibility: visible;
}


/* *************************** */
/* CSS Override by Screen Size */
/* *************************** */
/*
@media (min-width: 401px) and (max-width: 600px)
{
}

@media (max-width: 400px)
{
}
*/


/*  used by legend */

.legendsymbolTransparent
{
	shape-rendering: crispedges;
	stroke: black;
	fill-opacity: 0.25;
}