<!DOCTYPE html>

<html>
    <head>
		<title>Batch Effects Viewer</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="bev_basic.css?v=BEA_VERSION_TIMESTAMP" rel="stylesheet" type="text/css">
    </head>
    <body>
		<div class="mdaHeader" id="mdaHeader">
			<img id="mdaLogo" src="images/mdandersonlogo300x54.png" alt="MDA Logo">
			<span class="mdaHeaderText">Batch Effects Viewer <small>BEA_VERSION_TIMESTAMP</small></span>
		</div>
		<br>
		Please try a newer version of Firefox, Chrome, Safari, or Edge browsers.
		Click <a href="BatchEffectsViewer.html">here</a> to retry.
	</body>
</html>