<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-LVQMVVYWLJ"></script>
		<script type="text/javascript">
			/* https://stackoverflow.com/questions/67078898/how-to-disable-cookies-in-ga4 */
			/* https://stackoverflow.com/questions/71424887/cookieless-google-analytics-v4-still-generates-ga-cookie#75625761 */
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			//gtag("consent", "default",
			//{
			//	ad_storage: "denied",
			//	analytics_storage: "denied"
			//});
			gtag('js', new Date());
			gtag('config', 'G-LVQMVVYWLJ');
			gtag('send', 'pageview');
			function sendGAEvent(theEvent, theCategory, theLabel)
			{
				gtag('send', 
				{
					hitType: 'event',
					eventCategory: theEvent,
					eventAction: theCategory,
					eventLabel: theLabel
				});
			};
		</script>
		<title>MetaBatch Omic Browser Visualizer</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="lib/modernizr-use.js"></script>
		<script type="text/javascript">
			Modernizr.on('arrow', function(result) { if (result) { console.log("has arrow");} else { document.location.href = "bev_error.html"; }});
			try 
			{ 
				eval("async function f() { let promise = new Promise((resolve, reject) => { setTimeout(() => resolve('done!'), 10) }); let result = await promise; } f();"); 
				console.log("async good");
			} 
			catch (e) 
			{
				document.location.href = "bev_error.html";
			}
		</script>
		<!-- **** icons **** -->
		<!-- all tag attributes (src, type, rel) are required for proper generation of standalone file BEV_AppGenerator.java -->
		<link href="fa5/css/all.css?v=BEA_VERSION_TIMESTAMP" rel="stylesheet" type="text/css">
		<!-- **** CSS Entries **** -->
		<!-- all tag attributes (src, type, rel) are required for proper generation of standalone file BEV_AppGenerator.java -->
		<link href="lib/jquery-ui-1.13.2/jquery-ui.min.css?v=BEA_VERSION_TIMESTAMP" rel="stylesheet" type="text/css">
		<link href="lib/DataTables/datatables.min.css?v=BEA_VERSION_TIMESTAMP" rel="stylesheet" type="text/css">
		<link href="bev_basic.css?v=BEA_VERSION_TIMESTAMP" rel="stylesheet" type="text/css">
		<link href="GraphAPI/HC/GraphAPI_HC.css?v=BEA_VERSION_TIMESTAMP" rel="stylesheet" type="text/css">
		<link href="GraphAPI/PCA/GraphAPI_PCA.css?v=BEA_VERSION_TIMESTAMP" rel="stylesheet" type="text/css">
		<link href="GraphAPI/BP/boxplot_internal_styles.css?v=BEA_VERSION_TIMESTAMP" rel="stylesheet" type="text/css">
		<link href="GraphAPI/BP/boxplot_styles.css?v=BEA_VERSION_TIMESTAMP" rel="stylesheet" type="text/css">
		<link href="GraphAPI/BP/scrollbar_styles.css?v=BEA_VERSION_TIMESTAMP" rel="stylesheet" type="text/css">
		<link href="GraphAPI/VOL/volcano.css?v=BEA_VERSION_TIMESTAMP" rel="stylesheet" type="text/css">
		<!-- link href="GraphAPI/SP/bea_scatterplot.css?v=BEA_VERSION_TIMESTAMP"  -->
		<!-- **** JavaScript Entries **** -->
		<!-- all tag attributes (src, type, charset) are required for proper generation of standalone file BEV_AppGenerator.java -->
		<script src="lib/ngchmEmbed-min.js?v=BEA_VERSION_TIMESTAMP" type="text/Javascript" charset="utf-8"></script>
		<script src="lib/knockout-3.5.1.js?v=BEA_VERSION_TIMESTAMP" type="text/javascript" charset="utf-8"></script>
		<script src="lib/papaparse.min.js?v=BEA_VERSION_TIMESTAMP" type="text/javascript" charset="utf-8"></script>
		<script src="lib/d3.3.5.15.min.js?v=BEA_VERSION_TIMESTAMP" type="text/javascript" charset="utf-8"></script>
		<script src="GraphAPI/PCA/risk-gradient.js?v=BEA_VERSION_TIMESTAMP" type="text/javascript" charset="utf-8"></script>
		<script src="GraphAPI/PCA/pca-plot.js?v=BEA_VERSION_TIMESTAMP" type="text/javascript" charset="utf-8"></script>
		<script src="GraphAPI/BP/boxplot_detailed.js?v=BEA_VERSION_TIMESTAMP" type="text/javascript" charset="utf-8"></script>
		<script src="GraphAPI/BP/boxplot_inner.js?v=BEA_VERSION_TIMESTAMP" type="text/javascript" charset="utf-8"></script>
		<script src="lib/d3plus-text.v0.9.full.min.js?v=BEA_VERSION_TIMESTAMP" type="text/javascript" charset="utf-8"></script>
		<script src="GraphAPI/BP/boxplot_outer.js?v=BEA_VERSION_TIMESTAMP" type="text/javascript" charset="utf-8"></script>
		<script src="GraphAPI/BP/boxplot_pixels.js?v=BEA_VERSION_TIMESTAMP" type="text/javascript" charset="utf-8"></script>
		<script src="GraphAPI/BP/boxplot_scrollbar.js?v=BEA_VERSION_TIMESTAMP" type="text/javascript" charset="utf-8"></script>
		<script src="GraphAPI/BP/bea_boxplot.js?v=BEA_VERSION_TIMESTAMP" type="text/javascript" charset="utf-8"></script>
		<script src="GraphAPI/HC/hierclust-plot.js?v=BEA_VERSION_TIMESTAMP" type="text/javascript" charset="utf-8"></script>
		<script src="GraphAPI/HC/matchColors.js?v=BEA_VERSION_TIMESTAMP" type="text/javascript" charset="utf-8"></script>
		<script src="GraphAPI/DSC/bea_dsc.js?v=BEA_VERSION_TIMESTAMP" type="text/javascript" charset="utf-8"></script>
		<script src="GraphAPI/VOL/volcano.js?v=BEA_VERSION_TIMESTAMP" type="text/javascript" charset="utf-8"></script>
		<!-- script src="GraphAPI/SP/bea_scatterplot.js?v=BEA_VERSION_TIMESTAMP" ></script -->
		<script src="GraphAPI/plot-lib-utils.js?v=BEA_VERSION_TIMESTAMP" type="text/javascript" charset="utf-8"></script>
		<script src="lib/queue.v1.min.js?v=BEA_VERSION_TIMESTAMP" type="text/javascript" charset="utf-8"></script>
		<script src="lib/jquery-3.5.0.min.js?v=BEA_VERSION_TIMESTAMP" type="text/javascript" charset="utf-8"></script>
		<script src="lib/jquery-ui-1.13.2/jquery-ui.min.js?v=BEA_VERSION_TIMESTAMP" type="text/javascript" charset="utf-8"></script>
		<script src="DataAccess.js?v=BEA_VERSION_TIMESTAMP" type="text/javascript" charset="utf-8"></script>
		<script src="DataAccess_http.js?v=BEA_VERSION_TIMESTAMP" type="text/javascript" charset="utf-8"></script>
		<script src="DataAccess_file.js?v=BEA_VERSION_TIMESTAMP" type="text/javascript" charset="utf-8"></script>
		<script src="UtilBoxplot.js?v=BEA_VERSION_TIMESTAMP" type="text/javascript" charset="utf-8"></script>
		<script src="UtilPca.js?v=BEA_VERSION_TIMESTAMP" type="text/javascript" charset="utf-8"></script>
		<script src="UtilHierClust.js?v=BEA_VERSION_TIMESTAMP" type="text/javascript" charset="utf-8"></script>
		<script src="UtilDsc.js?v=BEA_VERSION_TIMESTAMP" type="text/javascript" charset="utf-8"></script>
		<script src="UtilNgchm.js?v=BEA_VERSION_TIMESTAMP" type="text/javascript" charset="utf-8"></script>
		<script src="UtilVenn.js?v=BEA_VERSION_TIMESTAMP" type="text/javascript" charset="utf-8"></script>
		<script src="UtilBar.js?v=BEA_VERSION_TIMESTAMP" type="text/javascript" charset="utf-8"></script>
		<script src="UtilVolcano.js?v=BEA_VERSION_TIMESTAMP" type="text/javascript" charset="utf-8"></script>
		<script src="UtilScatterplot.js?v=BEA_VERSION_TIMESTAMP" ></script>
		<script src="DiagramControl.js?v=BEA_VERSION_TIMESTAMP" type="text/javascript" charset="utf-8"></script>
		<script src="lib/DataTables/datatables.min.js?v=BEA_VERSION_TIMESTAMP" type="text/javascript" charset="utf-8"></script>
		<script src="bev_resize.js?v=BEA_VERSION_TIMESTAMP" type="text/javascript" charset="utf-8"></script>
		<script src="lib/jszip.min.js?v=BEA_VERSION_TIMESTAMP" type="text/javascript" charset="utf-8"></script>
		<!-- based on https://alafr.github.io/SVG-to-PDFKit/examples/demo.htm -->
		<script src="lib/pdf/pdfkit-0.8.3.js?v=BEA_VERSION_TIMESTAMP" type="text/javascript" charset="utf-8"></script>
		<script src="lib/pdf/blobstream.js?v=BEA_VERSION_TIMESTAMP" type="text/javascript" charset="utf-8"></script>
		<script src="lib/pdf/SVGtoPDF.js?v=BEA_VERSION_TIMESTAMP" type="text/javascript" charset="utf-8"></script>
		<script src="BEVAppView.js?v=BEA_VERSION_TIMESTAMP" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			/* global ko */
			//console.log("query js loading");

			// flag which is set to true when load is finished
			var isLoaded = false;
			// this makes sure that nothing gets called until page and required JS files are loaded
			var appview = null;
			// actually parses URL
			var url = new URL(window.location.href);
			//console.log("view/index url=" + url);
			//console.log("view/index id=" + url.searchParams.get("id"));
			var tmpUseZip = url.searchParams.get("usezip");
			var useZip = ("TRUE"===tmpUseZip)?true:false;
			var globalDataAccess = new DataAccess(useZip);
			var bevUrl = window.location.origin + window.location.pathname;
			var globalDiagramControl = new DiagramControl(globalDataAccess, "BEVDisplay_Diagram", "BEVDisplay_Legend_Content", "BEVDisplay_Datapane_Content", bevUrl);
			$(document).ready(function()
			{
				//console.log("view document ready");
				// This is a simple *viewmodel* - JavaScript that defines the data and behavior of your UI
				// handles URL containing link to specific dataset and diagram
				// see DataAccess for URL processing
				appview = new BEVAppView(useZip);
				// Activates knockout.js
				ko.applyBindings(appview);
				// theDataAccess, theDiagramId, theLegendId, theDatapaneId
				//console.log(appview.algorithmOptions());
				// other setup
				$( "#dbtabs" ).tabs();
				$( '#plotpickerFileInput' ).on("change", function(theEvent)
				{
					//console.log("event call");
					processZipSelectEvent(theEvent);
				});
				// resize before showing popup, to prevent d3 plotting weirdly partly off the page
				bodyResize();
				//window.parent.viewLoaded();
			});
			
			function viewGetUrlParams()
			{
				//console.log("viewGetUrlParams - returns JSON object");
				// id index alg lvl1 lvl2
				let urlParams = { };
				if (false === appview.usezip())
				{
					var tmpId = appview.requestedId();
					if (null !== tmpId)
					{
						urlParams["id"] = tmpId;
						if (notUN(appview.algorithmSelected()))
						{
							urlParams["alg"] = appview.algorithmSelected().entry_label;
						}
						if (notUN(appview.level1Selected()))
						{
							urlParams["lvl1"] = appview.level1Selected().entry_label;
						}
						if (notUN(appview.level2Selected()))
						{
							urlParams["lvl2"] = appview.level2Selected().entry_label;
						}
						if (notUN(appview.level3Selected()))
						{
							urlParams["lvl3"] = appview.level3Selected().entry_label;
						}
						if (notUN(appview.level4Selected()))
						{
							urlParams["lvl4"] = appview.level4Selected().entry_label;
						}
						//console.log("globalOn_DB="+globalOn_DB);
						if (globalOn_DB)
						{
							urlParams["hideDB"] = true;
						}
						//console.log("globalOn_LP="+globalOn_LP);
						if (globalOn_LP)
						{
							urlParams["hideLP"] = true;
						}
					}
				}
				return urlParams;
			}
		</script>
	</head>
	<body id="viewMdaBody" class="body-wrapper" onresize="bodyResize();" style="display: none;" data-bind="visible: $root.makeGuiVisible()">
		<div class="div-wrapper" id="id-div-wrapper">
			<div class="div-plot-picker" id="BEV_PlotPicker">
				<div class="div-plot-picker-title">
					<span style="font-weight: normal; font-size: smaller;">Plot Picker</span>
					<button type="button" style="float: right;" class="bev-control-button" 
							data-bind="click: function () { hidePlotPicker(); globalDiagramControl.resize(); return false; }">
						<i class="fas fa-minus-square"></i> Hide
					</button>
				</div>
				<div class="div-plotpicker-file" style="display: none;" data-bind="visible: $root.usezip()">
					<input id="plotpickerFileInput" type="file" name="plotpickerFileInput" />
				</div>
				<div class="div-plot-picker-content">
					<div id="dbtabs">
						<ul class="plotPickerTabText">
							<li class="plotPickerTabText"><a class="plotPickerTabText" href="#dbtab-1">Analysis Results</a></li>
							<li class="plotPickerTabText"><a class="plotPickerTabText" href="#dbtab-2">Dataset Details</a></li>
						</ul>
						<table class="mdaCompactTable" id="dbtab-1">
							<tbody>
								<tr>
									<td style="white-space: nowrap;"><span data-bind="text: $root.algorithmLabel()"></span></td>
									<td><select data-bind="options: $root.algorithmOptions, optionsText: 'entry_label', value: $root.algorithmSelected"></select></td>
								</tr>
								<tr style="display: none;" data-bind="visible: (null !== $root.level1Label())">
									<td style="white-space: nowrap;"><span data-bind="text: $root.level1Label()"></span></td>
									<td><select data-bind="options: $root.level1Options, optionsText: 'entry_label', value: $root.level1Selected"></select></td>
								</tr>
								<tr style="display: none;" data-bind="visible: (null !== $root.level2Label())">
									<td style="white-space: nowrap;"><span data-bind="text: $root.level2Label()"></span></td>
									<td><select data-bind="options: $root.level2Options, optionsText: 'entry_label', value: $root.level2Selected"></select></td>
								</tr>
								<tr style="display: none;" data-bind="visible: ( (notUN($root.level3Label())) && (''!==$root.level3Label()) )">
									<td style="white-space: nowrap;"><span data-bind="text: $root.level3Label()"></span></td>
									<td><select data-bind="options: $root.level3Options, optionsText: 'entry_label', value: $root.level3Selected"></select></td>
								</tr>
								<tr style="display: none;" data-bind="visible: ( (notUN($root.level4Label())) && (''!==$root.level4Label()) )">
									<td style="white-space: nowrap;"><span data-bind="text: $root.level4Label()"></span></td>
									<td><select data-bind="options: $root.level4Options, optionsText: 'entry_label', value: $root.level4Selected"></select></td>
								</tr>
								<tr style="background-color: greenyellow;"><td colspan="2"><center>Basic Dataset Details</center></td></tr>
								<tr><td style="white-space: nowrap;">Source</td><td><span data-bind="text: $root.indexSource()"></span></td></tr>
								<tr><td style="white-space: nowrap;">Study ID</td><td><span data-bind="text: $root.indexProgram()"></span></td></tr>
								<tr><td style="white-space: nowrap;">Analysis ID</td><td><span data-bind="text: $root.indexProject()"></span></td></tr>
								<tr><td style="white-space: nowrap;">Platform</td><td><span data-bind="text: $root.indexPlatform()"></span></td></tr>
								<tr><td style="white-space: nowrap;">Study Title</td><td><span data-bind="text: $root.indexData()"></span></td></tr>
								<tr data-bind="visible: ('MWB' === $root.indexSource())">
									<td>Metabolomics Workbench Link to Study</td>
									<td><a target="_blank" data-bind="attr: { href: 'https://www.metabolomicsworkbench.org/data/DRCCMetadata.php?StudyID=' + $root.indexProgram(), title: 'Link to Study' }">Link to Study</a></td>
								</tr>
							</tbody>
						</table>
						<table class="mdaCompactTable" id="dbtab-2">
							<tbody>
								<tr><td>BEV ID</td><td><span data-bind="text: $root.requestedId()"></span></td></tr>
								<tr><td>Source</td><td><span data-bind="text: $root.indexSource()"></span></td></tr>
								<tr><td>Study ID</td><td><span data-bind="text: $root.indexProgram()"></span></td></tr>
								<tr><td>Analysis ID</td><td><span data-bind="text: $root.indexProject()"></span></td></tr>
								<tr><td>Category</td><td><span data-bind="text: $root.indexCategory()"></span></td></tr>
								<tr><td>Platform</td><td><span data-bind="text: $root.indexPlatform()"></span></td></tr>
								<tr><td>Study Title</td><td><span data-bind="text: $root.indexData()"></span></td></tr>
								<tr><td>Details</td><td><span data-bind="text: $root.indexDetails()"></span></td></tr>
								<tr><td>Job Type</td><td><span data-bind="text: $root.indexJobType()"></span></td></tr>
								<tr><td>Data Version</td><td><span data-bind="text: $root.indexDataVersion()"></span></td></tr>
								<tr><td>Test Version</td><td><span data-bind="text: $root.indexTestVersion()"></span></td></tr>
								<tr><td>DataSet Type</td><td><span data-bind="text: $root.indexJobType()"></span></td></tr>
								<tr><td>Job Id</td><td><span data-bind="text: $root.indexJobId()"></span></td></tr>
								<tr><td>Notice</td><td><span data-bind="text: $root.indexNotice()"></span></td></tr>
								<tr data-bind="visible: ('MWB' === $root.indexSource())">
									<td>Metabolomics Workbench Link to Study</td>
									<td><a target="_blank" data-bind="attr: { href: 'https://www.metabolomicsworkbench.org/data/DRCCMetadata.php?StudyID=' + $root.indexProject(), title: 'Link to Study' }">Link to Study</a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="div-a-b-drag-bar" id="id-a-b-drag-bar" onmousedown="onMouseDownColAB(event);"></div>
			<div class="div-diagram-viewer" id="BEV_Diagram">
				<div class="div-diagram-viewer-title">
					<span>
						<span class="bevTitleText">&nbsp;&nbsp;MetaBatch Omic Browser Visualizer&nbsp;<span style="font-size: 60%">vBEA_VERSION_TIMESTAMP</span></span>
					</span>
					<span style="display: inline-block; margin-left: auto;"> <!-- moves to right -->
						<span style="font-weight: normal; font-size: smaller;">Data Viewer</span>
						<span class="showDVButtons">
							&nbsp;
							<button type="button" class="bevQfButton" id="BEV_PlotPickerbutton" 
									data-bind="click: function () { displayPlotPicker(); globalDiagramControl.resize(); return false; }">
								<i class="fas fa-plus-square"></i> Plot Picker
							</button>
							&nbsp;
							<button type="button" class="bevLpButton" id="BEV_LegPaneButton"
									data-bind="click: function () { displayLegPaneColumn(); globalDiagramControl.resize(); return false; }">
								<i class="fas fa-plus-square"></i> Legend/Datapane
							</button>
						</span>
					</span>
				</div>
				<div class="div-diagram-viewer-control">
					<span style="display: none;" data-bind="visible: (null !== $root.requestedId())">
						&nbsp;<button type="button" class="bev-control-button" 
									  data-bind="click: function(){ sendGAEvent('action', 'mobevent-download-results', $root.humanIdentifier()); location.href='../dszipresults?id='+ $root.requestedId(); return false; }" 
									  title="Download results, includes corrected data if pertinent."><i class="fas fa-download" style="color: red;"> </i> Results</button>
					</span>
					<span style="display: none;" data-bind="visible: (null !== $root.requestedId())">
						&nbsp;<button type="button" class="bev-control-button" 
									  data-bind="click: function(){ sendGAEvent('action', 'mobevent-download-data', $root.humanIdentifier()); location.href='../dszipdata?id='+ $root.requestedId(); return false; }" 
									  title="Download original data and metadata."><i class="fas fa-download" style="color: firebrick;"> </i> Data</button>
					</span>
					<span data-bind="visible: $root.isPngDiagram()">
						&nbsp;
						<button type="button" class="bev-control-button" id="BEV_ToggleFitButton" 
								data-bind="click: function () { globalDiagramControl.toggleImgFit(); return false; }">
							<i class="fas fa-expand-arrows-alt" style="color: seagreen;"></i> Toggle Fit
						</button>
					</span>
					<span data-bind="visible: supportsPdf($root.algorithmSelected)">
						&nbsp;
						<button type="button" class="bev-control-button" id="BEV_SaveAsPDFButton" 
								data-bind="click: function () { globalDiagramControl.saveAsPdf(); return false; }">
							<i class="fas fa-file-download" style="color: royalblue;"></i> Save PDF
						</button>
					</span>
				</div>
				<div class="div-diagram-viewer-content" id="BEVDisplay_Diagram"></div>
			</div>
			<div class="div-b-c-drag-bar" id="id-b-c-drag-bar" onmousedown="onMouseDownColBC(event);"></div>
			<div class="div-legpane" id="BEV_LegPane" >
				<div class="div-legend" id="BEVDisplay_Legend">
					<div class="div-legend-title">
						<span style="font-weight: normal; font-size: smaller;">Legend</span>
						<button type="button" style="float: right;" class="bev-control-button" 
								data-bind="click: function () { hideLegPaneColumn(); globalDiagramControl.resize(); return false; }">
							<i class="fas fa-minus-square"></i> Hide
						</button>
					</div>
					<div class="div-legend-content" id="BEVDisplay_Legend_Content"></div>
				</div>
				<div class="div-l-p-drag-bar" id="id-l-p-drag-bar" onmousedown="onMouseDownRowAB(event);"></div>
				<div class="div-datapane" id="BEVDisplay_Datapane">
					<div class="div-datapane-title"><span style="font-weight: normal; font-size: smaller;">Datapane</span></div>
					<div class="div-datapane-control">
						<button type="button" id="DPCopyAllButton" class="bev-control-button" data-bind="click: function () { bevDatapaneCopyAll(); return false; }">
							<span class="fa-stack fa-lg controlButtonIcon">
								<i class="fas fa-copy fa-stack-1x controlButtonIcon" style="color:blue;"></i>
								<i class="far fa-copy fa-stack-1x controlButtonIcon" style="color:black;"></i>
							</span> Copy All
						</button>
						<button type="button" id="DPClearButton" class="bev-control-button" data-bind="click: function () { bevDatapaneClear(); return false; }">
							<span class="fa-stack fa-lg controlButtonIcon">
								<i class="fas fa-eraser fa-stack-1x controlButtonIcon" style="color:deeppink;"></i>
							</span>&nbsp;Clear
						</button>
					</div>
					<div class="div-datapane-content" id="BEVDisplay_Datapane_Content"></div>
				</div>
			</div>
		</div>
		<!-- see DiagramControl.js SVG to PDF code -->
		<div style="display: none;" id="renderSvgForPrinting"></div>
	</body>
 </html>
