<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Loading Analysis</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- **** CSS Entries **** -->
		<link href="bev_basic.css" rel="stylesheet" type="text/css">
	</head>
	<body>
	<center><p style="background-color: gray"><strong><u>Select an Analysis Below to View</u></strong></p></center>
		<center>
			<p style="background-color: gray">
				<strong>Funding</strong><br>
				This work was supported in part by U.S. National Cancer Institute (NCI) grant:  Weinstein, Mills, Akbani. Batch effects in molecular profiling data on cancers: detection, quantification, interpretation, and correction, 5U24CA210949<br>
				NGCHM work was supported in part by U.S. National Cancer Institute (NCI) grant:  Weinstein, Broom. "Next Generation" Clustered Heat Maps for Fluent, Interactive Exploration of Omic Data, 5U24CA199461
			</p>
		</center>
	</body>
</html>
