/* *************************** */
/* Top Level CSS               */
/* *************************** */

:root
{
	--body-margin: 4px;
	--grid-gap: 0px;
	--item-list-max-ht: 110px;  /* 5 items * 22 pixels */
}

.no-pointer-events
{
	pointer-events: none;
}

a { cursor: pointer; }

*{ font-family: Arial,sans-serif; }
*{box-sizing: border-box;}

.body-wrapper
{
	margin: var(--body-margin);
	width: calc(100% - 8px);
	height: calc(100vh - 16px);
	background-color: lightgrey;
	overflow-x: scroll;
	overflow-y: hidden;
}

tr.viewed-dataset-highlight *
{
	background: greenyellow !important;
	background-color: greenyellow !important;
}

/* ********************************* */
/* **** Wrapper Grid Definition **** */
/* ********************************* */

.div-wrapper
{
	width: inherit;
	height: inherit;
	display: grid;
	grid-gap: var(--grid-gap);
	grid-template-columns: 20% 80%;
	grid-template-rows: minmax(0, 1fr);
	min-width: 1000px;
}

/* ***************************** */
/* **** Query Categorgies Column **** */
/* ***************************** */

.div-query-categories
{
	grid-column: 1 / span 1;
	grid-row: 1 / span 1;
	display: flex;
	flex-direction: column;
	background-color: lightgray;
	min-height: 97%;
}

.div-query-categories-content
{
	flex: 1;
	border: 1px solid gray;
	border-top-style: none;
	overflow: auto;
	display: flex;
	flex-direction: column;
}


/* ******************************* */
/* **** Result List Column **** */
/* ******************************* */

.div-result-list
{
	grid-column: 2 / span 1;
	grid-row: 1 / span 1;
	display: flex;
	flex-direction: column;
	background-color: lightgray;
	min-height: 97%;
}

.div-result-list-content
{
	border: 1px solid gray;
	border-top-style: none;
	height: 100%;
}

.mqaTableWrapper
{
	height: calc(100% - 19px - 23px - 23px);
}

/* ******************************* */
/* **** Tool Bar and Buttons **** */
/* ******************************* */

.div-tool-bar
{
	border: 1px solid gray;
	background-image: linear-gradient(rgb(165,219,235), rgb(123, 191,214));
	display: flex;
	flex-direction: row;
	align-items: center;
	color: #757575;
	font-size: 8px;
	height: 23px;
}

.sdb-control-text
{
	display: inline;
	padding-top: 5px;
	margin-top: 5px;
	font-size: smaller;
}

.sdb-control-button
{
	font-size: 11px;
	background-color: beige !important;
	color: black !important;
	border-radius: 4px;
	border-width: 1px;
	border-color: #757575;
	padding: 1px;
	margin: 1px;
	margin-top: 3px;
	margin-bottom: 3px;
	white-space: nowrap;
	cursor: pointer;
}

.qf-control-button
{
	font-size: 9px;
	background-color: lightblue;
	color: darkslateblue !important;
	border-color: slategrey !important;
	border-radius: 4px;
	border-width: 1px;
	border-color: #757575;
	padding: 1px;
	margin: 1px;
	margin-top: 3px;
	margin-bottom: 3px;
	cursor: pointer;
}


/* **************************************************** */
.gridSizesTitle
{
	padding-left: 2px;
	padding-right: 2px;
	height: 16px;
	font-size: 14px;
}

.gridSizesSelected
{
	height: 52px;
	margin-bottom: 3px;
}

.gridSizesArrowWrapper
{
	width: 100%;
	text-align: center;
	align-content: center;
}

.gridSizesArrow
{
	height: 16px;
	text-align: center;
	align-content: center;
}

.gridSizesAvailable
{
	height: 84px;
}

.stdBgColor
{
	border: 1px solid gray;
	background-image: linear-gradient(rgb(165,219,235), rgb(123, 191,214));
	padding-bottom: 2px;
	padding-top: 2px;
}

.availSelDiv
{
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	margin-bottom: 5px;
}

.divSelectedLess
{
	overflow: auto;
	max-height: var(--item-list-max-ht);
}

.divSelectedMore
{
/* 	overflow: auto;
	max-height: var(--item-list-max-ht); */
}

.availSelDevLabel
{
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	background-image: linear-gradient(rgb(165,219,235), rgb(123, 191,214));
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-align: justify-all;
	align-items: stretch;
}

.availSelPaddedDiv
{
	font-size: smaller;
	background-color: white;
	padding-left: 5px;
	padding-right: 5px;
	text-align: left;
}

.fixedHeaderNbsp
{
	width: 14px;
	height: 16px;
}

.rotateLeftHeaderSelected
{
	width: 14px;
	height: 52px;
	font-size: small;
	writing-mode: vertical-rl;
	transform: rotate(180deg);
	text-align: center;
}

.rotateLeftHeaderAvailable
{
	width: 14px;
	height: 84px;
	font-size: small;
	writing-mode: vertical-rl;
	transform: rotate(180deg);
	text-align: center;
}

.rotateRightHeaderSelected
{
	width: 14px;
	height: 52px;
	font-size: small;
	writing-mode: vertical-rl;
	text-align: center;
}

.rotateRightHeaderAvailable
{
	width: 14px;
	height: 84px;
	font-size: small;
	writing-mode: vertical-rl;
	text-align: center;
}

body
{
	background: white;
}

body.wait, body.wait *
{
	cursor: wait !important;
}

.centerTableHeader
{
	color: black;
	background: lightblue;
}

.mdaSmallText
{
	font-size: x-small !important;
}

table.mdaCollapsedTable
{
	border: 2px solid white;
	border-collapse: collapse;
	width: 100%;
}

table.mdaCollapsedTable>thead>tr
{
	text-align: left;
	border: 1px solid black;
	color: black;
	height: 25px;
}

table.mdaCollapsedTable>thead>tr>th
{
	color: white;
	background: black;
}

table.mdaCollapsedTable>tbody>tr>td
{
	padding: 5px;
	text-align: left;
	color: black;
}

tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #FFF}

table.mdaCollapsedTable>thead>tr
{
	text-align: left;
	white-space: nowrap;
	color: black;
}

table.autoWidth
{
    width: auto;
}

table.userDataTooltipTable 
{
    border: 1px solid black;
    border-radius: 6px;
    border-spacing: 5px 2px;
}

.mdaRounded
{
	border: 1px solid black;
	border-radius: 6px;
	background: #e6e6e6;
	color: black;
	padding: 20px;
}

.mdaBlue
{
	background: #AFA;
}

select
{
	/*margin: 0px 0px 0px 0px;*/
	border-radius: 6px;
	border: 1px solid black; 
}

input
{
    border: 1px solid black;
}

.mdaServiceHeader
{
	display: flex;
	flex-direction: row;
	align-items: stretch;
	background-image: url('images/banner.png');
	height: var(--header-height);
}

.mdaServiceHeaderLogo
{
	margin: auto;
	height: var(--header-height);
}

.mdaServiceHeaderTitle
{
	flex: 1;
	color: #403333;
}

.mdaTitleText
{
	display: inline-block;
	font-weight: normal;
	font-size: 12pt;
	padding-top: 0px;
	color: black;
	white-space: nowrap;
}

.mdaHeaderLinks
{
	/* reset mdaTitleText changes */
	font-size: 10px;
	padding: 0px;
	font-weight: normal;
	/* place this div */
	vertical-align: top;
	float: right;
	font-weight: normal;
	/* stack buttons */
	display: inline-flex;
	flex-direction: row;
	justify-content: flex-end;
	text-align: right;
}

.mdaHeaderButtons
{
	font-size: 10px;
	background-color: beige;
	color: black !important;
	border-radius: 4px;
	border-width: 1px;
	border-color: #757575;
	padding: 0px;
	padding-right: 1px;
	margin: 1px;
}

.mdaHeaderButtons:disabled
{
	background-color: lightgray;
	border-color: darkslategray;
}

 .roundedBox
 {
	background: #b7d6fb;
	margin: 10px 10px 10px 10px;
	border: 2px solid #000000;
	border-radius: 10px;
	padding: 10px;
	min-width: 600px;
 }
 
 .buttons
 {
	border: none;
	border-radius: 5px;
	padding: 3px 9px;
	color: #ffffff;
	font: normal 500 16px/1 "Calibri", sans-serif;
	text-align: center;
	text-shadow: 1px 1px #000000;
	font-size: 18px;
	margin: 2px;
	display: inline-block;
	text-decoration: none;
	background: #3d85c6;
	background: -webkit-linear-gradient(#3d85c6, #073763);
	background: linear-gradient(#3d85c6, #073763);
	white-space: nowrap;
}

.right-buttons
{
	text-align: right;
}

.buttons:hover
{
    background: #2d6699;
    background: -webkit-linear-gradient(#2d6699, #062c4f);
    background: linear-gradient(#2d6699, #062c4f);
}

.buttons:active 
{
	background: #031f38;
	background: -webkit-linear-gradient(#031f38, #1d4263);
	background: linear-gradient(#031f38, #1d4263);
}

.buttons:disabled
{
	background: #afafaf;
    background: -webkit-linear-gradient(#afafaf, #6b6b6b);
    background: linear-gradient(#afafaf, #6b6b6b);
}

.buttons .homeButton
{
	margin-right: 10px;
}

.inlineblock 
{
	display: inline-block;
}

.textItalic
{
        font-style: italic;
}

.textTitles
{
	font-size: 14px;
	font-weight: bold;
	padding-left: 5px;
	padding-right: 5px;
}

.spinner 
{
	width: 8px;
	height: 8px;
	border: 5px solid #A9A9A9;
	border-top: 5px solid #000099;
	border-radius: 100%;
	display: block;
	display: inline-block;
	-webkit-animation: spin 1.5s infinite linear;
	-moz-animation: spin 1.5s infinite linear;
	animation: spin 1.5s infinite linear;
}

@-moz-keyframes spin 
{
        from { -moz-transform: rotate(0deg); }
        to { -moz-transform: rotate(360deg); }
}

@-webkit-keyframes spin 
{
        from { -webkit-transform: rotate(0deg); }
        to { -webkit-transform: rotate(360deg); }
}

@keyframes spin 
{
	from { transform:rotate(0deg);}
	to {transform: rotate(360deg);}
}

/*
// These two classes are no longer neccessary; however, I've kept them in
// as it may be nice to have a backup tooltip activator in case Tippy.js fails.
// The structure of the CSS tooltips is almost entirely unaffected, and they can still work
.tooltip
{
	position: relative;
}
.tooltiptext 
{
	visibility: hidden;
	top: auto; left: auto; right: auto; bottom: auto;
        position: absolute;
        display: block;
	z-index: 1;
	visibility: hidden;
	opacity: 0;
	width: 300px;
	background-color: #f3ea72;
	color: black;
	text-align: left;
	border: 5px double black;
	border-radius: 6px;
	transition: opacity .25s, visibilty .25s;
	padding: 6px;
}
.tooltip:hover .tooltiptext 
{
	visibility: visible;
	opacity: 1;
        position: absolute;
}
*/

.tooltiptext 
{
	display: none;
}

.tippy-tooltip.myTooltipTheme-theme 
{
	background-color: powderblue !important;
	color: black !important;
	text-align: left !important;
	border: 5px double black !important;
	border-radius: 6px !important;
	width: 300px !important; 
}

.tippy-tooltip.myTooltipTheme-theme [x-circle] 
{
	background-color: powderblue !important;
}

.tippy-tooltip.tooltipCSS-theme
{
    position: absolute;
    display: block;
	z-index: 1;
	/*visibility: hidden;
	transition: opacity .25s, visibilty .25s;
	opacity: 0;*/
	width: 300px;
	background-color: powderblue;
	color: black;
	text-align: left;
	border: 5px double black;
	border-radius: 6px;
	padding: 6px;
}

img.guiIconDimensions 
{
	height: 15px;
	width: 15px;
	cursor: pointer;
}

table.mbatchconfigInputTable
{
    border-spacing: 10px 0px;
}

table.mbatchconfigInputTable>tr>td
{
    text-align: left;
}

.smallInputAndSelect
{
    width: 125px;
}

.largeInputAndSelect
{
    width: 315px;
}
.veryWideInputAndSelect
{
    width: 730px;
}

.tail_scroll {
	margin: 5px;
	border: 1px solid blue;
	max-height: 200px;
	width: 80%;
	white-space: nowrap;
	overflow-y: auto;
	overflow-x: auto;
}

.marginTop10px
{
    margin-top: 10px;
}

.marginLeft10px
{
    margin-left: 10px;
}

.exclusionsBox
{
    width: 50%;
    max-height: 300px;
    overflow-y: auto;
}

.beierror
{
    background: pink;
    border: 1px solid red;
    color: red;
    z-index: 1;
}

.largeTableBoxes
{
    height: auto;
    max-height: 300px; 
    overflow-y: auto; 
    display: block;
}

.GSselect
{}

.GSSelect option
{}

.gdcCheckAgreementModal
{
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.45);
}

div.modalContent
{
    background: white;
    margin: 15% auto;
}

.filterBox
{
    border: 1px solid black;
    border-radius: 6px;
    height: 120px;
    overflow-y: auto;
}

.doNotWrap
{
	white-space: nowrap;
}

.jobInfoTemplBox
{
/*    The actual template instantation*/
	display: inline-block;
}

.jobInfoShowHideContainer
{
/*    The container of all jobInfo contents inside the template*/
	/*    TODO: maybe percentage width/height*/
	height: 15px;
	width: 15px;
	border: 1px solid black;
	position: relative;
	display: inline-block;
}

.jobInfoShowHide
{
/*    The show/hide activator "button" for the jobInfo window*/
	width: 25%;
	height: 0;
	padding-left:25%;
	padding-bottom: 25%;
	overflow: hidden;
}

.jobInfoShowHide div
{
/*    The traingular element in the show/hide "button"*/
    	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid red;
}

.jobInfoContentBox
{
/*    The showable/hidable box of the job's information*/
	position: absolute;
	height: 100px;
	width: 100px;
	z-index: 99;
	background-color: white;
	border: 1px solid black;
}

.rTable
{
	display: table;
	width: 100%;
}
.rTableRow 
{
	display: table-row;
}
.rTableHeading 
{
	display: table-header-group;
	background-color: #ddd;
}
.rTableCell, .rTableHead 
{
	display: table-cell;
	padding: 3px 10px;
	border: 1px solid #999999;
}
.rTableHeading 
{
	display: table-header-group;
	background-color: #ddd;
	font-weight: bold;
}
.rTableFoot 
{
	display: table-footer-group;
	font-weight: bold;
	background-color: #ddd;
}
.rTableBody 
{
	display: table-row-group;
}
